/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

body{

    background-image:url(assets/bg.png);

}

.navbar{
    display: flex;
    background-color: #1f1f1f;
    padding: 3px;
}


.list{
    display: flex;
    color: #ffff;
    gap: 60px;
    font-size: 16px;
    list-style-type: none;
}

.logo{
    width: 60px;
    height: 55px;
    padding: 10px;
}

.logo:first-child{

    border-right: 3px solid #ffff;
    height: 15px;
    margin-top: 8px;
}


/* how to use degre and rotate to rotate it 
    update : got the solutuion in stackoverflow and achieved 
    by using display: inline-block
*/

li:first-child:after{
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
}

.button-small{
   
    margin-left: 650px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    color: #ffff;
    /* margin: 10px; */
    background-color: rgb(173, 9, 173);

}

.hero{
    
   text-align: center;
    color: #ffff;
    font-size: 80px;
}

.hero-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-description{
    font-size: 40px;
    margin-top: -85px;
}

.button-large{
    background-color: rgb(173, 9, 173);
    color: #ffff;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    font-size: 27px;
}

